@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.image-div {
  width: auto;
  height: auto;
  max-width: 30%;
  max-height: 20vw;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 0 0 7px 7px rgba(255, 255, 255, 0.2);
}
.image-flex {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.route-head {
  color: white;
  width: 100vw;
  font-size: 54px;
  font-weight: 1000;
  text-align: center;
  padding-top: 40px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.contact-subheader {
  font-size: 23px;
  background-color: rgb(188, 185, 185);
  width: 400px;
  height: 37px;
  margin: auto;
  border-radius: 4px;
}
.form-box {
  background-color: gray;
  width: 75vw;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  color: black;
  font-size: 20px;
  padding-top: 15px;
  font-weight: 600;
}
.login-box {
  background-color: gray;
  width: 45vw;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  color: black;
  font-size: 20px;
  padding-top: 15px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-input {
  width: 75%;
  background-color: rgb(76, 76, 76);
  padding-left:12px;
  outline:none;
  color:white;
}
.login-wrap{
  height:45px;
  width:60%;
  display:inline-flex;
  background-color: rgb(76, 76, 76);
  /* border-radius:5px; */
  border:solid;
  border-color: rgb(169, 169, 169);

}
.submit-container {
  /* text-align:center; */
  font-size: 16px;
  border-radius: 10px;
  margin: auto;
  width: 75vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.submit-box {
  color: black;
  font-size: 19px;
  width: calc(100% * (1 / 2) - 10px - 1px);
  padding: 15px;
  /* border:solid; */
  border-color: red;
}
.input-box {
  width: 60%;
  margin-left: 15px;
  background-color: rgb(230, 230, 230);
  float: right;
  height: 35px;
  border-radius: 5px;
  font-weight: 250;
  padding-left: 7px;
  font-size: 15px;
}
#message-box {
  width: 400px;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  font-size: 14px;
  height: 100px;
  padding-left: 5px;
}
#appt-button {
  background-color: rgb(242, 57, 57);
  padding: 14px;
  border-radius: 4px;
  margin: 15px;
}
#appt-button:hover {
  background-color: rgb(242, 91, 91);
}
.service-li {
  margin-left: 7px;
}
.service-li:hover {
  margin-left: 7px;
  color: rgb(125, 77, 77);
}
.subtext {
  width: 100vw;
  font-size: 24px;
  text-align: center;
  color: rgb(191, 191, 191);
  margin-bottom: 50px;
}
.container {
  font-family: "Oswald", sans-serif;
  background-color: black;
  min-width: 100vw;
  text-align: center;
  min-height: calc(100vh - 70px);
}
.acc-container {
  font-family: "Oswald", sans-serif;
  background-color: black;
  min-width: 100vw;
  text-align: center;
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.header {
  font-family: "Oswald", sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #323232;
  width: 100vw;
  height: 70px;
  position: fixed;
  z-index: 1000;
}

.logo {
  margin-left: 15px;
  font-size: 27px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.navigation a {
  font-size: 18px;
  margin-left: 20px;
  margin-right: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: color 0.3s;
}

.navigation a:hover {
  color: rgb(131, 131, 131);
}

.main-content {
  position: relative;
  width: 100vw;
  height: 100%;
}

.background-image {
  width: 100vw;
  height: calc(100vh - 70px);
  object-fit: cover;
  opacity: 60%;
  background-repeat:repeat-x;
  background-position: center center;
  background-attachment: fixed;
  /* transform:translate(-2%, 0) ; */
  /* overflow: */
}

.centered-text {
  text-align: center;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
}
.service-header {
  font-size: 55px;
  font-weight: 1000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(111, 55, 55);
}

.service-block {
  width: 100%;
  /* border-bottom: solid; */
  border-style: dashed;
  border-color: red;
  height: calc(100vh - 70px);
  min-height: 400px;
  display: flex;
  color: white;

  scroll-snap-align: center;
}
.service-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  text-align: center;
}
.service-body-text {
  font-size: 19px;
  width: 70%;
}

.service-image-div {
  background-color: black;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-image {
  height: 70%;
  width: 95%;
  border-radius: 4px;
}
.links {
  text-decoration: underline;
}
.links:hover {
  color: rgb(91, 91, 249);
}

/* .links:visited{
  color:blueviolet;
} */
h2 {
  font-size: 30px;
  margin-top: 10px;
  text-decoration: underline;
}

.appointment-BoxContainer {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  width: 300px;
  flex-wrap: wrap;
}
.appointment-BoxContainer div {
  text-align: left;
  margin-top: 20px;
}